<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    {{>header}}
</head>
<body>
    <h1>{{title}}</h1>

    <!-- Add the "Write into the guestbook" link here -->
    <div class="text-right">
        <a href="/new" class="btn btn-primary">
            Write in the guestbook
        </a>
    </div>

    {{#entries}}
    <div>
        <div>
            <h4>{{subject}}</h4>
            
            <p>
                {{contents}}
            </p>
            
<div class="card-footer">
 <p>Written by <a href="/posts/{{author}}">{{author}}</a>, on {{published}}</p>
</div> 
        </div>
    </div>
    {{/entries}}
    {{^entries}}
    No entries yet.
    {{/entries}}
</body>
</html>